*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box; 
}
body{
    overflow-x: hidden;
}
:root {
    --light-color:#f0f2f5ea;
    --dark-color:#3D81db;
    --text-color:#a9aaac;
    --blue-color:#2A60B7;
    --daark-color:#4991ee;
}

.navbar-expand{
    width: 100%;
    padding: 20px 30px;
    background-color: white !important;
    align-items: center !important;
}
.fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-brand{
    color: rgb(6, 72, 214) !important;
    font-size: 30px !important;
    font-weight: 600 !important;
}
.search-bar{
    display: inline-flex !important;
    padding: 10px 20px;
    align-items: center;
width: 30%;
height: 40px;
background-color: white;
border:1px solid #f0eeee;
border-radius: 20px;
/* margin-left: 50px  */
}
.navbar-collapse{
    justify-content: space-between;
    flex-grow: 0;
}
.bar{
    display: none;
}

.form-controll{
    font-size: small;
    width: 100%;
    padding: 0px 20px;
    border: none;
    /* border-color: white; */
    outline-style: none;
    color: var(--text-color);
}

.fa-heat{
    color: black;
}

.heart{
    margin-left: 20px;
    margin-top: 10px;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 30px;
    border-style: solid;
    border-color: #f0eeee;
    background-color: white;
}
.bell{
    margin-left: 10px;
    margin-top: 10px;
    width: 40px;
    height: 40px;
    padding: 4px;
    border-radius: 30px;
    border-style: solid;
    border-color: #f0eeee;
    background-color: white;
    position: relative;
}
.dott{
    width: 10px;
    height: 9px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    right: 3px;
    top: -2px;
}
.gear{
    margin-left: 10px;
    margin-top: 10px;
    width: 40px;
    height: 40px;
    padding: 3px;
    border-radius: 30px;
    border-style: solid;
    border-color: #f0eeee;
    background-color: white;
    
}

.profile{
    margin-left: 10px;
    width: 40px;
    border-radius: 30px;
    background-color: cornflowerblue;
    background-image:-webkit-linear-gradient(blue lightblue);
}
.body-parent{
    display: flex;
    width: 100%;
}
.side-pannel{
width: 20%;
}
.type{
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    row-gap: 15px;
    padding: 30px 20px;
    /* justify-content: flex-start; */
}

.p-{
    /* position: absolute; */
    font-size:medium;
    color: var(--text-color);
}
/* .gray{
    color: rgb(163, 163, 163);
} */


.parrent-container{
    width: 100%;
   padding: 30px 40px;
   background-color:var(--light-color);
   overflow-x: hidden;
}
.rating{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    gap: 30px;
}
.car-card-2{
    padding: 30px 30px;
    border-radius: 10px;
     width: 100%;
     /* height: 260px; */
     background-color:var(--daark-color);
     color: white;
     align-items: center;
 }
 .heading-1{
    padding-right: 60px;
    font-size: 30px;
     font-weight: 400;
 }
 .pera-1{
    /* padding-right: 78px; */
    font-size: small;
     font-weight: 200;
     padding-right: 180px;
     /* word-wrap: break-word; */
 }
 .car-1{
    object-fit: contain;
    padding:0px 30px;
    width:100%;
 }
 .pics-3{
    
    margin-top: 50px;
    display: flex;
    justify-content: center;
    column-gap: 40px;
    align-items: center;
    width: 100%;
 }
 .car-image-1{
    width:100%;
    height: 100px;
    padding:7px ;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--daark-color);
    
 }
 .image-2{
    width: 100%;
    height: 80px;
    padding: 30px 9px; 
    border-radius: 5px;
    background-color: var(--daark-color);
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .car-image-2{
    width: 100%;
    height: 100px;
    object-fit: cover;
    
    border-radius: 5px;
 }
 .car-image-3{
    width: 90%;
    
    
 }
 .car-rating{
    width: 70%;
    /* height: 430px; */
    border-style: solid;
    border-color: white;
    background-color: white;
    border-radius: 10px;
    padding: 10px 24px;
    word-spacing: -1px;
 }
 .rate{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .p-1-7{
    margin-top: 30px;
    font-size: small;
    padding-right: 0px;
 }
 .types{
    margin-top: 70px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
 }

 .Type-Car{
    font-size: small;
    color: var(--text-color);
 }
 .Sports-1{
    text-align: right;
    font-size: small;
    font-weight: 500;
 }
 .rent-now-1{
    margin-top: 70px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
 }
 .btn-primary{
    margin-left: 40px;
    color: white;
    background-color: var(--daark-color) !important;
 }
 .heading{
    color: rgb(71, 71, 71);
    font-size: small;
 }
 .reveiws{
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    background-color: white;
    margin: 20px 0px;
    width:100%;
    /* height: 450px; */
    padding: 20px 30px;
 }
 .rev{
    display: flex;
    justify-content: space-between;
    width: 130px;
 }
 .rev-13{
    font-size: 15px;
    color: white;
    width: 40px;
    height: 30px;
    padding: 4px 0px;
    text-align: center;
    border-radius: 5px;
    background-color: var(--daark-color);
 }
 .reveiws-section{
    display: flex;
    justify-content: space-between;
 }
 .alex-profile{
    width: 160px;
    display: flex;
    justify-content: space-between;
margin-top: 20px;
 }
 .stanton{
    width: 50px;
    border-radius: 30px;
 }
 .h-6{
    font-weight: bold;
 }
.p-6{
    font-size: smaller;
    color: rgb(160, 159, 159);
}
.stars{
    padding: 25px 0px;
}
.p-1-8{
    
    font-size: small;
    color: rgb(61, 60, 60);
    text-align: right;
}
.star-5{
    margin-top: -7px;
}
.p-1-9{
    margin-top: -15px;
    margin-left: 55px;
    font-size: small;
    letter-spacing: -0.5px;
    color: rgb(59, 59, 59);
}
.skylar-profile{
    width: 148px;
    display: flex;
    justify-content: space-between;
margin-top: 20px;
 }
.skylar{
    width: 50px;
    border-radius: 30px;
}
.show-All{
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    margin-top: 50px;
    color: rgb(97, 96, 96);
}
#show{
    margin-top: -17px;
    border: none;
    color: rgb(97, 96, 96);
    outline: none;
}
.cars-page{
    display: flex;
    justify-content: space-between;
    margin: 30px 20px;

}
.p-1{
    color: rgb(158, 156, 156);
    font-size:medium;
}
.anchor-1{
    text-decoration: none;
    font-size: small;
}
.cards-page{
    width: 100%;
    display: grid;
    grid-template-columns:auto auto auto ;
    column-gap: 20px;
    row-gap: 20px;
}
.card{
    padding: 10xp 15px;
    width: 100%;
    /* height: 400px; */
    border-radius: 10px;
    border-style: solid;
    border-color:aliceblue;
}
.flex{
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.h-1-1{
    padding: 20px;
    padding-bottom: 0px;
}
.p-1-1{
    padding: 0px 20px;
    color: var(--text-color);
    font-size: small;
}
.card-img-top{
    width: 100%;
    height: 150px;
    object-fit: contain;
    padding: 0px 40px;
}
.card-icon{
    width: 100%;
    display: flex;
    justify-content: space-between;
align-items: center;
}
.p-1-2{
    margin-left: 7px;
    font-size: x-small;
    
}
.rent-now{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin:20px 0px;  
}

.day{
    color: rgb(160, 159, 159);
    font-size: small;
}
.btn{
    font-size: small;
    background-color: var(--dark-color);
    border-style: none;
    align-items: center;
    width: 100px;
    height: 40px;
    padding: 10px 0px;
}
.delt{
    color:var(--text-color);
}
.showe{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.show-more{
    margin:100px 0px;
    width: 15%;
    height: 40px;
    background-color:var(--dark-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
    font-size: small;
}
.showmo{
    text-decoration: none;
    color: white;
}
.p-1-4{
    color: rgb(179, 177, 177);
    text-align: right;
    font-size: small;
    margin-top: -130px;
    right: 0px ;
}
.p-1-5{
    width: 50px;
margin-left: 100%;
}
.footer-detail{
    padding: 50px 0px;
    padding-left: 60px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.p-1-3{
    margin-top: 20px;
    width: 230px;
    font-size: small;
    color: rgb(168, 168, 168);
}

.footer-page{
    display: flex;
    justify-content: space-between;
    width: 50%;
    
}

.links{
    width: 150px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.foter-link{
    text-decoration: none;
    font-size: small;
    color: var(--text-color);
    line-height: 30px;
}
.h7{
    display: flex;
align-items: center;
margin:0px 40px;
gap: 3px;
}
.h6{
    margin-top: 3px;
    font-size: small;
    font-weight: 640;
}
.copywrite{
    width: 95%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(230, 226, 226);
    padding: 20px 1px;
}
.policy{
    width: 20%;
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width:1220px) {
    .navbar-expand{
padding-right: 10px;}
.heading-1{
    padding-right: 0px;
    font-size: 25px;
}
.pera-1{
    padding-right: 70px;
}
.pics-3{
    margin-top: 80px;
    gap: 20px;
}
.car-rating{
    width: 50%;
}




}
@media only screen and (max-width:1120px) {
.side-pannel{
    width: 30%;
}
.price{
    width: 100%;
    padding: 30px 0px;
}
.nav-item{
    display: none;
}
.search-bar{
    width: 50%;
}
.form-controll{
    font-size: medium;
}
.bar{
    color: var(--text-color);
    display:block;
}
.car-rating{
    width: 70%;
}
.cards-page{
width: 100%;
display: grid;
grid-template-columns:auto auto ;
row-gap: 30px;
}
.show-more{
justify-content: center;
}
.policy{
    width: 30%;
}
}
@media only screen and (max-width:930px) {
    .parrent-container{
        width: 100%;
    }
.search-bar{
    width: 40%;
}
.form-controll{
    font-size: small;
}
.rating{
    flex-direction: column;
}
.car-rating{
    width: 100%;
}
.cards-page{
    grid-template-columns: auto;
}
.card-icon{
    font-size: medium;
}
.show-more{
    width: 30%;
}
/* .copywrite{
    flex-direction: column;
    align-items: center;
} */
.policy{
    align-self: flex-end;
}
}
@media only screen and (max-width:735px){
.side-pannel{
    width: 40%;
}
.search-bar{
    width: 60%;
    padding: 10px 10px;
}
.card-icon{
    font-size: large;
}
.footer-detail{
    flex-direction: column;
}
.footer-page{
    align-self: center;
}
}
@media only screen and (max-width:642px){

.side-pannel{
    display: none;
}
.sliders{
    display: none;
}
.search-bar{
    width: 50%;
    padding: 5px 20px;
}
.form-controll{
    padding: 10px 20px;
    padding-right: 0px;
    font-size: small;
}

.footer-page{
    width: 100%;
    flex-wrap: wrap;
    row-gap: 20px;
}
.copywrite{
    flex-direction: column;
    align-items: center;
}
.policy{
    width: 50%;
}
}
@media only screen and (max-width:500px) {
    .navbar-expand{
        padding: 20px 10px;
    }
    .navbar-brand{
        font-size: large;
    }
    .search-bar{
        padding: 5px 7px;
    }
    .form-controll{
        padding: 5px;
    }
    .parrent-container{
        padding: 20px 10px;
    }
.pics-3{
    gap: 10px;
}
.reveiws{
    padding: 15px 10px;
}
.reveiws-section{
    align-items: center;
    padding: 10px 0px;
}
.stars{
    padding-top: 25px;
}
.star-5{
    margin-top: -10px;
}
.policy{
    width: 70%;
}
}