*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
:root {
    --light-color:#f0f2f5ea;
    --dark-color:#3D81db;
    --text-color:#a9aaac;
    --blue-color:#2A60B7;
    --daark-color:#4991ee;
}

.navbar-expand{
    width: 100%;
    padding: 20px 30px;
    background-color: white !important;
    align-items: center !important;
}
.fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-brand{
    color: rgb(6, 72, 214) !important;
    font-size: 30px !important;
    font-weight: 600 !important;
}
.search-bar{
    display: inline-flex !important;
    padding: 10px 20px;
    align-items: center;
width: 30%;
height: 40px;
background-color: white;
border:1px solid #f0eeee;
border-radius: 20px;
/* margin-left: 50px  */
}
.navbar-collapse{
    justify-content: space-between;
    flex-grow: 0;
}
.bar{
    display: none;
}

.form-controll{
    font-size:medium;
    width: 100%;
    padding: 0px 20px;
    border: none;
    /* border-color: white; */
    outline-style: none;
    color: var(--text-color);
}

.fa-heat{
    color: black;
}

.heart{
    margin-left: 20px;
    margin-top: 10px;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 30px;
    border-style: solid;
    border-color: #f0eeee;
    background-color: white;
}
.bell{
    margin-left: 10px;
    margin-top: 10px;
    width: 40px;
    height: 40px;
    padding: 4px;
    border-radius: 30px;
    border-style: solid;
    border-color: #f0eeee;
    background-color: white;
    position: relative;
}
.dott{
    width: 10px;
    height: 9px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    right: 3px;
    top: -2px;
}
.gear{
    margin-left: 10px;
    margin-top: 10px;
    width: 40px;
    height: 40px;
    padding: 3px;
    border-radius: 30px;
    border-style: solid;
    border-color: #f0eeee;
    background-color: white;
    
}

.profile{
    margin-left: 10px;
    width: 40px;
    border-radius: 30px;
    background-color: cornflowerblue;
    background-image:-webkit-linear-gradient(blue lightblue);
}
.body-parent{
    display: flex;
}
#filter{
    display: none;
}
.side-pannel{
width: 20%;
}
.type{
    width: 100%;
    padding: 30px 10px;
    font-size: medium;
  
    /* justify-content: flex-start; */
}
.types1{
    width: 100%;
      display: grid;
    grid-template-columns: auto;
    row-gap: 15px;
    padding: 30px 10px;
}
.p-{
    /* position: absolute; */
    font-size:medium;
    color: var(--text-color);
}
/* .gray{
    color: rgb(163, 163, 163);
} */
.price{
    width: 100%;
    padding: 30px 0px;
}
.p-1-6{
    font-weight: 600;
    font-size: medium;
}
.parrent-container{
    width: 100%;
   padding: 0px 20px;
   background-color: var(--light-color);
   overflow: hidden;
}
.pick-and-drop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    gap: 30px;

}
.pick{
    width:100%;
    height: 130px;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    background-color: white;
    padding: 10px 30px;
    font-weight: 500;
    
}
.up-down{
    width: 10%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-style: solid;
    background-color:var(--dark-color);
    border-color: var(--dark-color);
}
.drop{
    width: 100%;
    height: 130px;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    background-color: white;
    padding: 10px 30px;
    font-weight: 500;
}
.customer-detail{
    margin-top: 10px;
    line-height: 35px;
    display: flex;
    justify-content: space-between;
align-items: center;
gap: 15px;
width: 100%;
}
.location{
    border-right: 1px solid rgb(247, 241, 241);
    height: 50px;
    width: 100%;
    
}
.date{
    border-right: 1px solid rgb(247, 241, 241);
    height: 50px;
    width: 100%;
    
}
.time{
    width: 100%;
margin-top: 10px;

}
.selection{
    border-style: none;
    outline: none;
    margin-left: -5px;
    font-size: small;
    color: var(--text-color);
    width: 100%;
}

.p-2{
    font-size: small;
 color: black;
}
.cars-page{
    display: flex;
    justify-content: space-between;
    margin: 50px 0px;
width: 100%;
}
.p-1{
    color: var(--text-color);
    font-size:medium;
}
.anchor-1{
    text-decoration: none;
    font-size: small;
}
.cards-page{
    width: 100%;
    display: grid;
    grid-template-columns:auto auto auto ;
    column-gap: 20px;
    row-gap: 20px;
}
.card{
    padding: 10xp 15px;
    width: 100%;
    /* height: 400px; */
    border-radius: 10px;
    border-style: solid;
    border-color:aliceblue;
}
.flex{
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.h-1-1{
    padding: 20px;
    padding-bottom: 0px;
}
.p-1-1{
    padding: 0px 20px;
    color: var(--text-color);
    font-size: small;
}
.card-img-top{
    width: 100%;
    height: 150px;
    object-fit: contain;
    padding: 0px 40px;
}
.card-icon{
    width: 100%;
    display: flex;
    justify-content: space-between;
align-items: center;
}
.p-1-2{
    margin-left: 7px;
    font-size: x-small;
    
}
.rent-now{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin:20px 0px;  
}

.day{
    color: rgb(160, 159, 159);
    font-size: small;
}
.btn{
    font-size: small;
    background-color: var(--dark-color);
    border-style: none;
    align-items: center;
    width: 100px;
    height: 40px;
    padding: 10px 0px;
}
.delt{
    color:var(--text-color);
}
.showe{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.show-more{
    margin:100px 0px;
    width: 15%;
    height: 40px;
    background-color:var(--dark-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
    font-size: small;
}
.showmo{
    text-decoration: none;
    color: white;
}
.p-1-4{
    color: rgb(179, 177, 177);
    text-align: right;
    font-size: small;
    margin-top: -130px;
    right: 0px ;
}
.p-1-5{
    width: 50px;
margin-left: 100%;
}
.footer-detail{
    padding: 50px 0px;
    padding-left: 60px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.p-1-3{
    margin-top: 20px;
    width: 230px;
    font-size: small;
    color: rgb(168, 168, 168);
}

.footer-page{
    display: flex;
    justify-content: space-between;
    width: 50%;
    
}

.links{
    width: 150px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.foter-link{
    text-decoration: none;
    font-size: small;
    color: var(--text-color);
    line-height: 30px;
}
.h7{
    display: flex;
align-items: center;
margin:0px 40px;
gap: 3px;
}
.h6{
    margin-top: 3px;
    font-size: small;
    font-weight: 640;
}
.copywrite{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(230, 226, 226);
    padding: 20px 1px;
}
.policy{
    width: 250px;
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width:1100px) {
        .navbar-expand{
    padding-right: 10px;}
    .cards-page{
        width: 100%;
        display: grid;
        grid-template-columns:auto auto auto ;
        row-gap: 30px;
    }
}
@media only screen and (max-width:970px) {
    .side-pannel{
        width: 30%;
    }
    .price{
        width: 100%;
        padding: 30px 0px;
    }
    .nav-item{
        display: none;
    }
    .search-bar{
        width: 50%;
    }
    .bar{
        color: var(--text-color);
        display:block;
    }
    
    .pick-and-drop{
        flex-direction: column;
        gap: 0px;
        /* padding: 20px 10px; */
    }
    .pick{
        font-weight: 600;
        font-size: xx-large;
        color: black;
        height: 180px;
        padding: 15px;
    }
    .drop{
        font-size: xx-large;
        font-weight: 600;
        color: black;
        height: 180px;
        padding: 15px;
    }
.h-6-1{
    font-size: 20px;
}
.selection{
    font-size: medium;
}
.p-2{
    color: black;
}
.cards-page{
    width: 100%;
    display: grid;
    grid-template-columns:auto auto ;
    row-gap: 30px;
}
.show-more{
    justify-content: center;
}
.footer-detail{
    flex-direction: column;
}
.footer-page{
    align-self: center;
    width: 100%;
}
}
@media only screen and (max-width:770px) {
    .side-pannel{
        width: 40%;
    }
    .search-bar{
        width: 40%;
    }
    .form-controll{
        font-size: small;
    }
    .selection{
        /* font-size: ; */
    }
    .cards-page{
        grid-template-columns: auto;
    }
    .card-icon{
        font-size: medium;
    }
    .show-more{
        width: 30%;
    }
    .copywrite{
        flex-direction: column;
        align-items: center;
    }
    .policy{
        align-self: flex-end;
    }
}
@media only screen and (max-width:650px){
    /* .body-parent{
        display: flex;
        flex-direction: column;
        background-color: var(--light-color);
    } */
    #filter{
        display: block;
    }

    .side-pannel{
display: none;
    }
    .type{
        width: 100%;
        /* justify-content: center; */
    }
    .types1{
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
    }
    /* #capacity{
       align-items: center;
    } */
    #ranges{
        width: 100%;
        justify-content: center;
       align-self: center;
    }
    
    .search-bar{
        width: 60%;
        padding: 10px 10px;
    }
    .selection{
        font-size: small;
    }
    .card-icon{
        font-size: large;
    }
}
@media only screen and (max-width:480px){
    .navbar-brand{
        font-size: medium !important;
    }
    .sliders{
        display: none;
    }
    .search-bar{
        width: 50%;
        padding: 5px ;
    }
    .form-controll{
        padding: 10px 5px;
        padding-right: 0px;
        font-size: x-small;
    }
    .up-down{
        width: 15%;
    }
    .time{
        margin-top: 15px;
    }
    .selection{
        font-size: xx-small;
        background-color: white;
    }
    .footer-page{
        flex-wrap: wrap;
        row-gap: 20px;
    }
}